<configuration>

    <!--- логирование в консоль -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %highlight(%5-level) %cyan(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--- логирование в файл -->
    <appender name="FILE" class="ch.cos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %highlight(%5-level) %cyan(%logger{36}) - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--- уровень логирования -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

    <!-- более детальные логи для базы данных -->
    <logger name="ru.vsu.amm.java.DB_config" level="DEBUG" />

</configuration>