<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <timestamp key="startupTime" datePattern="yyyy-MM-dd_HH-mm-ss"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/lab7_${startupTime}.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>