* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: azure;
    padding: 1.5rem;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: deepskyblue;
    color: beige;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    transition: 0.3s;
    text-decoration: none;
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.btn:hover {
    background-color: #d44a0b;
    -webkit-transform: scale(1.2, 1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.2, 1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}